/*-- scss:defaults --*/

// scss-docs-start theme-color-variables

// $primary: #444492;
$primary: #133352;
// $secondary: #444492;
$secondary: #3A5F0B;
$navbar-fg: #ffffff ;

// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

/*-- scss:rules --*/